.user-heading {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

.user-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.feature {
    display: flex;
    gap: 20px;
}

.feature-btn {
    cursor: pointer;
    font-size: 16px;
}

.feature-btn--edit {
    color: orange;
}

.feature-btn--delete {
    color: red;
}