* {
    margin: 0;
    padding: 0;
}

.register-form,
.login-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
}